{% extends 'MainBundle::layout.html.twig' %}

    {% block navbar %}
    <div class="container">

      <div class="masthead">
        <!-- <h3 class="text-muted">Project name</h3> -->
        <ul class="nav navbar-nav nav-justified">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li class="active" ><a href="{{ path('collection') }}">Collection</a></li>
          <li><a href="{{ path('home') }}">Philosopy</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

      </div>
      {% endblock %}


{% block products %} 

<div>

<div class="inline-block text-center">
{% for entity in entities %} 

    <div class="col-lg-3">
      <div class="thumbnail">
        <div >
            <p>
              <a href="{{ path('product_show', { 'slug': entity.slug }) }}">
              <img src="/bundles/main/img/{{ entity.path }}" class="img-responsive" alt="Responsive image"/>&raquo;</a>
            </p> 
        <h3 class="text-muted">{{ entity.name }}</h3>
        <p><a class="btn btn-default" href="{{ path('product_show', { 'slug': entity.slug }) }}">View details &raquo;</a></p>
        </div>
      </div>
    </div>

{% endfor %}
</div>
</div>
{% endblock %}


