{% extends 'MainBundle::layout.html.twig' %}

{% block navbar %}
<div class="container">

  <div class="masthead">
    <!-- <h3 class="text-muted">Project name</h3> -->
    <ul class="nav navbar-nav nav-justified">
      <li><a href="{{ path('home') }}">Home</a></li>
      <li class="active" ><a href="{{ path('collection') }}">Collection</a></li>
      <li><a href="{{ path('home') }}">Philosopy</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  {% endblock %}

{% block body -%}


{% if purchase is defined %}
 <form class="form-horizontal" action="{{ path('purchased', { 'orderId': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <div class="form-group">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit" class="btn btn-default">Save</button>
        </p>
    </div>
    </form>
{% endif %}

{% if purchased is defined %}

<h2>Success!!</h2>
<p> You have purchased {{ order.item.name }} which will be dispatched to {{ order.address }} </p>

{% endif %}


{% endblock %}