<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

    <!-- Bootstrap core CSS -->
{% stylesheets '@MainBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

        {% endblock %}

        {% block javascript %}
             <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

            {% javascripts '@MainBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
            
        {% endblock %}
        <script>window.jQuery || document.write('<script src="bundles/main/js/jquery-1.10.2.min.js"><\/script>')</script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>


    <div class="container-fluid">

    {% block logo %}
      <!-- Jumbotron -->
      <div class="jumbotron">
        
 <h1>O<span style="font-size:20px;font-weight:700" class="text-danger">lus</span>M<span style="font-size:20px;font-weight:700" class="text-danger">alashop</span></h1>

      </div>
    {% endblock %}

    {% block navbar %}
    <div class="container">

      <div class="masthead">
        <!-- <h3 class="text-muted">Project name</h3> -->
        <ul class="nav navbar-nav nav-justified">
          <li class="active"><a href="{{ path('home') }}">Home</a></li>
          <li><a href="{{ path('collection') }}">Collection</a></li>
          <li><a href="{{ path('home') }}">Philosopy</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      {% endblock %}


      <div class="body-content">

        <!-- Example row of columns -->
        {% block products %} 
        {% endblock %}

        {% block body %}
        {% endblock %}

        
      </div><!-- /.body-content -->

      </div>

      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Adash 2013</p>
      </div>

    </div> <!-- /container -->

        
        {% block javascripts %}  
<script src="/bundles/main/js/javascript.js"></script>
        {% endblock %}
    </body>
</html>
