{% extends '::base.html.twig' %}

{% block body %}

    <div>
        <h1>Registerr</h1>
        <form class="form-horizontal" action="{{ path('register') }}" method="POST" role="form" >

                {{ form_errors(form) }}
            
                {{ form_row(form.username) }}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first, {
                    'label': 'Password'
                }) }}
                {{ form_row(form.plainPassword.second, {
                    'label': 'Repeat Password'
                }) }}

                {{ form_rest(form) }} {# takes care of errors not assigned to any specific field#}
            </br>
            <input class="btn btn-default" type="submit" value="Register" formnovalidate/> 
        </form>

    </div>

{% endblock %}