{% extends 'UserBundle::layout.html.twig' %}

{% block body -%}
    <h2 class="text-info">Orders</h2>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Buyer</th>
                <td>{{ entity.buyer.name }}</td>
            </tr>
            <tr>
                <th>Item Name</th>
                <td>{{ entity.item.name }}</td>
            </tr>
            <tr>
                <th>Date Ordered</th>
                <td>{{ entity.dateOrdered|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date Updated</th>
                <td>{{ entity.dateUpdated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date Payed</th>
                <td>{{ entity.datePayed|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date Dispatched</th>
                <td>{{ entity.dateDispatched|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('orders') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('orders_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
