{% extends 'MainBundle::layout.html.twig' %}

{% block body -%}
    <h2>Product</h2>
    <div class="row">
    <div class="col-lg-4">
        <h2>{{ entity.name }}</h2>
        <p>
          <ul>
          <li>
            <p>Main material: {{ entity.mainMaterial }}</p>
          </li>
          <li>
            <p>Guru Bead Material: {{ entity.guruBeadMaterial }}</p>
          </li>
          <li>
            <p>String Colour: {{ entity.string }}</p>
          </li>
          <li>
            <p>Number of beads: {{ entity.length }}</p>
          </li>
          <li>
            <p>Type of knot: {{ entity.knot }}</p>
          </li>
          <li>
            <p>Description: {{ entity.description }}</p>
          </li>
          <li>
            <p>Price: £{{- entity.price }}</p>
          </li>

          </ul>  
        </p>
    </div>

    <div class="col-lg-7">
        <img src="/bundles/main/img/{{ entity.path }}" class="img-responsive" alt="Responsive image"/>
    </div>
{% endblock %}
