{% extends 'MainBundle::layout.html.twig' %}

{% block body -%}
    <h1>Product creation</h1>
        <div class="col-lg-8">
            <form action="{{ path('product_create') }}" method="post" {{ form_enctype(form) }}>
                <div>
                	{{ form_widget(form) }}

                    {{ form_widget(form.file, { 'attr': {'name': 'files[]'} }) }}

                    {{ form_rest(form) }}
                </div>
                <div>

                  </br>
                	<button class= "btn" type="submit">Create</button>

                </div>
            </form>

                <ul class="record_actions">
                 </br>
            <li>
                <a href="{{ path('product') }}">
                    Back to the list
                </a>
            </li>
                </ul>
        </div>
{% endblock %}
