{% extends 'MainBundle::layout.html.twig' %}

    {% block navbar %}
    <div class="container">

      <div class="masthead">
        <!-- <h3 class="text-muted">Project name</h3> -->
        <ul class="nav navbar-nav nav-justified">
          <li><a href="{{ path('home') }}">Home</a></li>
          <li class="active" ><a href="{{ path('collection') }}">Collection</a></li>
          <li><a href="{{ path('home') }}">Philosopy</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      {% endblock %}

{% block body -%}
    <div class="row">
    <div class="col-lg-4">
        <h2 class="text-warning">{{ entity.name }}</h2>
        <dl class="dl-horizontal text-muted">

            <dt>Main material: </dt> <dd>{{ entity.mainMaterial }}</dd>
 
            <dt>Guru Bead Material: </dt> <dd>{{ entity.guruBeadMaterial }}</dd>

            <dt>String Colour: </dt> <dd>{{ entity.string }}</dd>

            <dt>Number of beads: </dt> <dd>{{ entity.length }}</dd>

            <dt>Type of knot: </dt> <dd>{{ entity.knot }}</dd>

            <dt>Description: </dt> <dd>{{ entity.description }}</dd>

            <dt>Price: </dt> <dd>£{{- entity.price }}</dd>

        </dl>
    </div>

    <div class="col-lg-7">
        <img src="/bundles/main/img/{{ entity.path }}" class="img-responsive" alt="Responsive image"/>
    </div>

    <div class="col-lg-2">
        <img src="/bundles/main/img/{{ entity.pathA }}" class="img-responsive" alt="Responsive image"/>
    </div>

test {{ entity.id }}  test 
    <div class="col-lg-2"> 
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="btn btn-primary btn-sm" href="{{ path('purchase', { 'id' : entity.id }) }}">Purchase</a> 
      {% else %}
        <a class="btn btn-default btn-sm" href="{{ path('login') }}">Purchase</a> 
      {% endif %}
    </div>


{% endblock %}
